:root {
  --primary-text-title-color: #499a18;
  --background-color: #ffffff;
  --secondary-text-title-color: #e06733;
  --primary-text-color: #636060;
  --secondary-text-color: #717171;
  --primary-bg-color: #edf2ec;
  --link-color: #010201;
  --btn-hover-background: #e06733;
  --btn-color: #000000;
  --btn-color-hover: #ffffff;
  --time: 250ms;
  --function-animation: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  box-sizing: border-box;
}

body {
  color: var(--primary-text-color);
  background-color: var(--background-color);
  font-family: Inter, sans-serif;
  font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  height: auto;
  display: block;
  max-width: 100%;
}

.container {
  width: 1440px;
  padding-left: 109px;
  padding-right: 109px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

.list-style {
  list-style: none;
  padding: 0;
  margin: 0;
}

.button {
  cursor: pointer;
  background-color: transparent;
  transition: color var(--time) var(--function-animation),
    background-color var(--time) var(--function-animation);
}

.button:hover,
.button:focus {
  color: var(--btn-color-hover);
  background-color: var(--btn-hover-background);
}

/* ----------------------HEADER------------------ */
header {
  background-color: var(--primary-bg-color);
}

.header.container {
  padding-top: 42px;
  padding-bottom: 42px;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-nav {
  display: flex;
  align-items: center;
  gap: 46px;
}

.logo,
.site-nav__link {
  color: var(--link-color);
  font-family: Inika, serif;
  font-size: 16px;
  line-height: 1.33;
  transition: color var(--time) var(--function-animation);
}

.logo:hover,
.logo:focus,
.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--btn-hover-background);
}

.icon-logo {
  fill: none;
  stroke: var(--primary-text-title-color);
}

/* ----------------------WELCOME------------------ */
.welcome {
  background-color: var(--primary-bg-color);
}

.welcome .container {
  padding-top: 62px;
  padding-bottom: 62px;
  display: flex;
  gap: 224px;
}

.welcome-text {
  padding-top: 32px;
}

.welcome__title {
  font-weight: 700;
  font-size: 45px;
  line-height: 1.11;
  color: var(--secondary-text-color);
  margin-bottom: 42px;
}

.welcome__title---green {
  color: var(--primary-text-title-color);
}
.welcome__bottom-text {
  font-size: 20px;
  line-height: 1.75;
  margin-bottom: 48px;
}
.welcome__button {
  font-family: inherit;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1.25;
  border: 2px solid var(--btn-hover-background);
  border-radius: 10px;
  min-width: 158px;
  height: 44px;
}

/* ----------------------ABOUT------------------ */
.about .container {
  padding-top: 93px;
  padding-bottom: 94px;
  display: flex;
  gap: 153px;
}
.about-text-container {
  padding-top: 68px;
}
.about__title {
  width: 463px;
  font-family: Inika, serif;
  font-size: 40px;
  line-height: 1.3;
  color: var(--primary-text-title-color);
  margin-bottom: 40px;
}

.about__title--orange {
  color: var(--btn-hover-background);
}
.about__bottom-text {
  font-size: 20px;
  line-height: 1.5;
}
/* ----------------------SERVICE------------------ */
.service {
  padding-top: 40px;
  padding-bottom: 121px;
  background-color: var(--primary-bg-color);
}
.container {
  width: 100%;
}

.title-container {
  margin: 0 auto;
  display: flex;
  align-items: center;

  margin-bottom: 90px;
}

.button-container {
  display: flex;
  gap: 38px;
}

.service__title {
  margin-right: 142px;
  width: 306px;
  font-family: Inika, serif;
  font-size: 40px;
  line-height: 1.3;
  color: var(--primary-text-title-color);
}

.service__button {
  width: 161px;
  height: 50px;
  border: 1px solid var(--btn-hover-background);
  border-radius: 5px;
  font-family: "Inika";
  font-size: 20px;
  line-height: 1.3;
  color: var(--btn-hover-background);
}

.service__list {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 55px;
  column-gap: 116px;
}
.service__img {
  border-radius: 20px 20px 0px 0px;
  background-color: var(--primary-bg-color);
}

.service__item {
  width: 330px;
}

.text-content {
  padding: 10px 31px 36px 30px;
  border: 1px solid #e3e1d5;
  border-radius: 0px 0px 20px 20px;
}

.card-title {
  text-align: center;
  color: var(--secondary-text-title-color);
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
}
.card-bottom-text {
  font-size: 16px;
  line-height: 1.25;
}
/* ----------------------PRICES------------------ */
.prices {
  padding-top: 38px;
  padding-bottom: 115px;
}
.prices .container {
  display: flex;
  justify-content: space-between;
}

.prices__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  color: var(--btn-color);
  margin-bottom: 60px;
}
.prices__list {
  padding: 34px 41px;
  border: 1px solid #e3e1d5;
  border-radius: 20px;
}

.prices__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 40px;
  min-width: 250px;
  height: 50px;
  border-radius: 20px;
  background-color: var(--primary-bg-color);
}

.prices__item + .prices__item {
  margin-top: 32px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  color: var(--secondary-text-color);
  width: 16px;
  height: 16px;
  background-color: #d9d9d9;
  border: none;
  border-radius: 8px;
  transition: background-color var(--time) var(--function-animation),
    color var(--time) var(--function-animation);
}

.btn:hover,
.btn:focus {
  background-color: #aea1a1;
  color: var(--background-color);
}

.btn-title {
  margin-right: 54px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: var(--btn-color);
}

.icon-btn {
  fill: none;
  stroke: currentColor;
}
.contacts-block {
  text-align: right;
}
.prices__text {
  width: 452px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.25;
  color: var(--btn-color);
  text-align: right;
  margin-bottom: 38px;
}
.prices__text--green {
  color: var(--primary-text-title-color);
}

.prices__button {
  width: 162px;
  height: 50px;
  font-family: Inika, serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  color: var(--btn-hover-background);
  margin-bottom: 39px;
  border: 1px solid #e06733;
  border-radius: 5px;
}

.prices__img {
  margin-left: auto;
}

/* ----------------------CONTACTS------------------ */

.contacts {
  background-color: var(--primary-bg-color);
  padding-top: 53px;
}

.contacts .container {
  display: flex;
}

.contacts-form {
  width: calc(100% - 400px);
  padding-top: 7px;
  margin-left: 113px;
}

.contacts__title {
  font-family: Inika, serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.3;
  color: var(--primary-text-title-color);
  margin-bottom: 37px;
}
.dropdown-menu {
  position: relative;
  margin-left: auto;
  margin-right: 0;
  padding-right: 35px;
  width: 450px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d6e7d2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: background-color var(--time) var(--function-animation),
    border var(--time) var(--function-animation);
}

.dropdown-menu:hover,
.dropdown-menu:focus {
  background-color: #c1e698;
  border: 1px solid #d6e7d2;
}

.dropdown-menu:hover .btn,
.dropdown-menu:focus .btn {
  background: #8ba07e;
}

.dropdown-menu:hover .icon-btn,
.dropdown-menu:focus .icon-btn {
  transform: rotate(-180deg);
}

.dropdown-menu:hover .city-menu,
.dropdown-menu:focus .city-menu {
  display: block;
  position: absolute;
  top: 50px;
  width: 450px;
  padding: 27px 35px 31px;
  background-color: #d6e7d2;
}

.city-menu {
  display: none;
}

.city-menu__item + .city-menu__item {
  margin-top: 12px;
}
.city-menu__text {
  cursor: pointer;
  font-size: 16px;
  line-height: 2.5;
  letter-spacing: 0.05em;
  color: var(--primary-text-title-color);
  border-bottom: 1px solid #d9d9d9;
}

.menu-text {
  font-size: 20px;
  line-height: 2;
  letter-spacing: 0.05em;
  margin-left: 20px;
}
.btn {
  cursor: pointer;
  transition: background-color var(--time) var(--function-animation);
}
.icon-btn {
  fill: none;
  stroke: var(--btn-color-hover);
  transition: transform var(--time) var(--function-animation);
}

.city-menu__text:hover,
.city-menu__text:focus {
  color: var(--secondary-text-color);
  border-bottom: 1px solid var(--secondary-text-color);
}

/* ----------------------FOOTER------------------ */

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__text-content {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer__text {
  font-size: 20px;
  line-height: 2.5;
  color: var(--btn-color);
}
.copyright {
  margin-right: 20px;
}
.footer__link {
  font-size: 20px;
  line-height: 2.5;
  color: var(--btn-color);
  transition: color var(--time) var(--function-animation);
}

.socpublic {
  display: flex;
  align-items: center;
  gap: 20px;
}

.socpublic-link {
  color: var(--btn-color);
  transition: color var(--time) var(--function-animation);
}

.socpublic-link:hover,
.socpublic-link:focus {
  color: var(--secondary-text-title-color);
}
.footer__main-link {
  font-size: 20px;
  line-height: 2.5;
  color: var(--btn-color);
  transition: color var(--time) var(--function-animation);
}

.footer__link:hover,
.footer__link:focus,
.footer__main-link:hover,
.footer__main-link:focus {
  color: var(--secondary-text-title-color);
}
.footer-icon {
  fill: currentColor;
}
